
@*@Html.Partial("_PartialModalUpdatingStudentInfo")*@

<header class="page_header clr">
    <div class="header_1 cz_row_shape_full_filled_left cz_row_shape_no_right cz_menu_fx_fade_in">
        <div class="row elms_row">
            <div class="clr">
                <div class="elms_left header_1_left">
                    <div class="cz_elm icon_header_1_left_0 inner_icon_header_1_left_0" style="margin-top:10px;margin-bottom:10px;margin-left:20px;">
                        <div class="elm_icon_text">
                            <i class="fa fa-bolt" style="color:#f2f2f2;"></i>
                            <span class="it_text ml10" style="font-size:14px;color:#f2f2f2;">أهلا بك فى المكتب الثقافى لدولة الكويت بالأسكندرية</span>
                        </div>
                    </div>
                </div>
                <div class="elms_right header_1_right">
                    <div class="cz_elm icon_header_1_right_1 inner_icon_header_1_right_0" style="margin-top:9px;margin-right:25px;">
                        <a class="elm_icon_text" href="#popup"><span class="it_text " style="font-size:14px;color:#f2f2f2;"></span></a>
                    </div>
                    <div class="cz_elm line_header_1_right_2 inner_line_header_1_right_1" style="margin-top:10px;">
                        <div class="header_line_2" style="">&nbsp;</div>
                    </div>
                    @*<div class="cz_elm social_header_1_right_3 inner_social_header_1_right_2" style="margin-top:11px;">
                            <div class="cz_social cz_social_colored_bg_hover cz_social_fx_2">
                                <a class="cz-facebook" href="../../Codevz.html" title="فيسبوك" aria-label="فيسبوك" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-facebook"></i><span>فيسبوك</span></a>
                                <a class="cz-twitter" href="../../codevz2.html" title="تويتر" aria-label="تويتر" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-twitter"></i><span>تويتر</span></a>
                                <a class="cz-instagram" href="https://www.instagram.com/codevz/" title="انستغرام" aria-label="انستغرام" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-instagram"></i><span>انستغرام</span></a>
                                <a class="cz-skype" href="#" title="سكايب" aria-label="سكايب"><i class="fa fa-skype"></i><span>سكايب</span></a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="header_2">
        <div class="row elms_row">
            <div class="clr">
                <div class="elms_left header_2_left">
                    <div class="cz_elm logo_header_2_left_4 inner_logo_header_2_left_0" style="margin-top:25px;margin-bottom:20px;">
                        <div class="logo_is_img logo">
                            <a href="~/home" title="المكتب الثقافى لدولة الكويت بالأسكندرية">
                                <img src="~/new/Kuwait_logo_new.png" alt="المكتب الثقافى لدولة الكويت بالأسكندرية" width="211" height="110" style="width: 211px; height:110px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="elms_right header_2_right">
                    @*<div class="cz_elm icon_info_header_2_right_5 inner_icon_info_header_2_right_0" style="margin-top:50px;margin-right:10px;margin-bottom:28px;margin-left:10px;">
            <a class="cz_elm_info_box" href="~/service/PrintStudentCertifiedRecruitment/C766FC19-FD2E-40DF-AD15-7FE9971E70E8" style="">
                <i class="cz_info_icon fa czico-016-map-localization" style="font-size:28px;color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);border-radius:5px;" data-cz-style=".icon_info_header_2_right_5 .cz_elm_info_box:hover i {box-shadow:0px 10px 20px 0px rgba(25,103,48,0.2) !important;transform:scale(1.1) !important;}"></i>
                <div class="cz_info_content">
                    <span class="cz_info_1" style="color:#a3a3a3;">تجربة طباعة مصدقة التجنيد</span>
                </div>
            </a>
        </div>*@
                    <div class="cz_elm icon_info_header_2_right_5 inner_icon_info_header_2_right_0" style="margin-top:50px;margin-right:10px;margin-bottom:28px;margin-left:10px;">
                        <a class="cz_elm_info_box" href="https://goo.gl/maps/B7QFpyrvCnmdjdsv6" target="_blank" style="">
                            <i class="cz_info_icon fa czico-016-map-localization" style="font-size:28px;color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);border-radius:5px;" data-cz-style=".icon_info_header_2_right_5 .cz_elm_info_box:hover i {box-shadow:0px 10px 20px 0px rgba(25,103,48,0.2) !important;transform:scale(1.1) !important;}"></i>
                            <div class="cz_info_content">
                                <span class="cz_info_1" style="color:#a3a3a3;">عنوان</span>
                                <span class="cz_info_2" style="font-size:20px;color:#ffffff;font-weight:500;">20 باتريس لومومبا - الأسكندرية</span>
                            </div>
                        </a>
                    </div>
                    <div class="cz_elm icon_info_header_2_right_6 inner_icon_info_header_2_right_1" style="margin-top:50px;margin-right:50px;margin-bottom:28px;margin-left:50px;">
                        <a class="cz_elm_info_box" href="tel:+2033925566" style="">
                            <i class="cz_info_icon fa czico-123-call" style="font-size:28px;color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);border-radius:5px;" data-cz-style=".icon_info_header_2_right_6 .cz_elm_info_box:hover i {box-shadow:0px 10px 20px 0px rgba(25,103,48,0.2) !important;transform:scale(1.1) !important;}"></i>
                            <div class="cz_info_content">
                                <span class="cz_info_1" style="color:#a3a3a3;">رقم الهاتف</span>
                                <span class="cz_info_2" style="font-size:20px;color:#ffffff;font-weight:600; direction:ltr"> +2033925566</span>
                            </div>
                        </a>
                    </div>
                    <div class="cz_elm icon_info_header_2_right_6 inner_icon_info_header_2_right_1" style="margin-top:50px;margin-right:50px;margin-bottom:28px;margin-left:50px;">
                        <a class="cz_elm_info_box" href="~/home/OfficeEmployeeEMailContact" style="">
                            <i class="cz_info_icon fa fa-mail-bulk" style="font-size:28px;color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);border-radius:5px;" data-cz-style=".icon_info_header_2_right_6 .cz_elm_info_box:hover i {box-shadow:0px 10px 20px 0px rgba(25,103,48,0.2) !important;transform:scale(1.1) !important;}"></i>
                            <div class="cz_info_content">
                                <span class="cz_info_1" style="color:#a3a3a3;">بريد موظفى المكتب</span>
                                <span class="cz_info_2" style="font-size:20px;color:#ffffff;font-weight:600; direction:ltr"> أرسل لنا</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_3 cz_menu_fx_fade_in">
        <div class="row elms_row">
            <div class="clr">
                <div class="elms_left header_3_left">
                    <div class="cz_elm menu_header_3_left_7 inner_menu_header_3_left_0" style="margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:10px;">
                        <i class="fa fa-bars hide icon_mobile_cz_menu_default cz_mi_50661" style=""><span></span></i>
                        <ul id="menu_header_3" class="sf-menu clr cz_menu_default" data-indicator="fa fa-angle-down" data-indicator2="fa fa-angle-right">
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsHomePage"]" data-sub-menu="">
                                <a href="/home" data-title="الرئيسية"><span>الرئيسية</span></a>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsAboutPage"]" data-sub-menu="">
                                <a href="/home/about" data-title="المكتب الثقافى"><span>المكتب الثقافى</span></a>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                <a href="~/service/GetServicesList" data-title="البوابة الإلكترونية"><span>الخدمات الإلكترونية</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-header_3-1308" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/Student/PostIdCardRequest" data-title="إستخراج هوية الطالب"><span style="font-weight:600; font-size:13px">طلب إستخراج هوية الطالب</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/Service/PostCertifiedRecruitmentRequest" data-title="إستخراج مصدقة التجنيد"><span style="font-weight:600; font-size:13px">إستخراج مصدقة التجنيد</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/FeePayment/PostFeePaymentRequest" data-title="نموذج سداد الرسوم"><span style="font-weight:600; font-size:13px">نموذج سداد الرسوم</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/service/PostClinicalAllowanceExchange" data-title="صرف البدل الإكلينيكى"><span style="font-weight:600; font-size:13px">صرف البدل الإكلينيكى</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/service/PostTicketExchange" data-title="صرف بدل تذكرة سفر"><span style="font-weight:600; font-size:13px">صرف بدل تذكرة سفر</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/service/PostAnnualAllowancesExchange" data-title="طلب صرف مخصص سنوى"><span style="font-weight:600; font-size:13px">طلب صرف مخصص سنوى</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/student/UpdateStudentInfo" data-title="تحديث البيانات"><span style="font-weight:600; font-size:13px">تحديث البيانات</span></a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/home/OfficeEmployeeEMailContact" data-title="بريد موظفى المكتب"><span style="font-weight:600; font-size:13px">بريد موظفى المكتب</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsNewsPage"]" data-sub-menu="">
                                <a href="~/news/getNewsList" data-title="الأخبار"><span>الأخبار</span></a>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsContactPage"]" data-sub-menu="">
                                <a href="~/home/contact" data-title="إتصل بنا"><span>إتصل بنا </span></a>
                            </li>
                        </ul>
                        <i class="fa czico-198-cancel cz_close_popup xtra-close-icon hide"></i>
                    </div>
                </div>

                <div class="elms_right header_3_right show_only_mobile">
                    <div class="cz_elm button_header_3_right_8 inner_button_header_3_right_0 show_only_mobile" style="margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:10px;">
                        <a class="cz_header_button cz_btn_63954 show_only_mobile" href="~/home/covidPredictions" style="font-size:14px;color:#ffffff;font-weight:700;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);padding:7px 25px 6px;display:block;" data-cz-style="">
                            <span>
                                <i class="icon czico-Icon-Alert-Notification-Active-Fill"></i> الإجراءات الإحترازية لفيروس كورونا
                            </span>
                        </a>
                    </div>
                    <div class="cz_elm button_header_3_right_8 inner_button_header_3_right_0" style="margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:10px;">
                        <a class="cz_header_button cz_btn_63954" href="~/student/UpdateStudentInfo" style="font-size:14px;color:#ffffff;font-weight:700;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);padding:7px 25px 6px;display:block;" data-cz-style="">
                        <span><i class="fa fa-edit"></i>  نموذج تحدديث البيانات   </span></a>
                    </div>
                </div>
                <div class="cz_elm social_header_3_right_9 inner_social_header_3_right_1" style="margin-top:10px;margin-bottom:8px;">
                    <div class="cz_social cz_social_colored_bg_hover cz_social_fx_2">
                        @*<a class="cz-facebook" href="../../../Codevz.html" title="حساب المكتب الثقافى على فيسبوك" aria-label="حساب المكتب الثقافى على فيسبوك" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-facebook"></i><span>فيسبوك</span></a>*@
                        <a class="cz-twitter" href="https://twitter.com/culturaloffice_" title="حساب المكتب الثقافى على تويتر" aria-label="حساب المكتب الثقافى على تويتر" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-twitter"></i><span>تويتر</span></a>
                    </div>
                </div>
                @*<div class="elms_right header_3_right">
                        <div class="cz_elm button_header_3_right_8 inner_button_header_3_right_0" style="margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:10px;">
                            <a class="cz_header_button cz_btn_57251" href="tel:+2033925566" style="font-size:14px;color:#ffffff;font-weight:700;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);padding:7px 25px 6px;display:block;" data-cz-style=""><span>تواصل معنا</span></a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="header_4">
        <div class="row elms_row">
            <div class="clr">
                <div class="elms_left header_4_left">
                    <div class="cz_elm logo_header_4_left_10 inner_logo_header_4_left_0" style="margin-top:15px;margin-bottom:15px;">
                        <div class="logo_is_img logo">
                            <a href="~/home" title="المكتب الثقافى لدولة الكويت بالأسكندرية">
                                <img src="~/new/Kuwait_logo_new.png" alt="المكتب الثقافى لدولة الكويت بالأسكندرية" width="160" height="60" style="width: 160px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="elms_right header_4_right">
                    <div class="cz_elm menu_header_4_right_11 inner_menu_header_4_right_0" style="margin-top:22px;">
                        <i class="fa fa-bars icon_offcanvas_menu inview_left cz_mi_56483" style="color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);border-style:none;border-radius:5px;"><span></span></i>
                        <i class="fa fa-bars hide icon_mobile_offcanvas_menu inview_left cz_mi_56483" style="color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);border-style:none;border-radius:5px;"><span></span></i>
                        <ul id="menu_header_4" class="sf-menu clr offcanvas_menu inview_left" data-indicator="" data-indicator2="">
                            <li id="menu-header_4-1205" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home cz @ViewData["currentIsHomePage"]" data-sub-menu="">
                                <a href="/home/" data-title="الصفحة الرئيسية"><span>الصفحة الرئيسية</span></a>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsAboutPage"]" data-sub-menu="">
                                <a href="~/home/about" data-title="المكتب الثقافى"><span>المكتب الثقافى</span></a>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                <a href="~/service/GetServicesList" data-title="البوابة الإلكترونية"><span>الخدمات الإلكترونية</span></a>
                                <ul class="sub-menu">
                                    <li id="menu-header_3-1308" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/Student/PostIdCardRequest" data-title="إستخراج هوية الطالب">
                                            <span style="font-weight:600; font-size:13px">طلب إستخراج هوية الطالب</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/Service/PostCertifiedRecruitmentRequest" data-title="إستخراج مصدقة التجنيد">
                                            <span style="font-weight:600; font-size:13px">إستخراج مصدقة التجنيد</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1307" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/FeePayment/PostFeePaymentRequest" data-title="نموذج سداد الرسوم">
                                            <span style="font-weight:600; font-size:13px">نموذج سداد الرسوم</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1309" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/service/PostClinicalAllowanceExchange" data-title="صرف بدل الإكلينيكى">
                                            <span style="font-weight:600; font-size:13px">صرف البدل الإكلينيكى</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1309" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/service/PostTicketExchange" data-title="صرف بدل تذاكر">
                                            <span style="font-weight:600; font-size:13px">صرف بدل تذكرة سفر</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1309" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/service/PostAnnualAllowancesExchange" data-title="طلب صرف مخصص سنوى">
                                            <span style="font-weight:600; font-size:13px">طلب صرف مخصص سنوى</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1309" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsServicesPage"]" data-sub-menu="">
                                        <a href="~/student/UpdateStudentInfo" data-title="طلب صرف مخصص سنوى">
                                            <span style="font-weight:600; font-size:13px">تحديث البيانات</span>
                                        </a>
                                    </li>
                                    <li id="menu-header_3-1309" class="menu-item menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsNewsPage"]" data-sub-menu="">
                                        <a href="~/home/OfficeEmployeeEMailContact" data-title="بريد موظفى المكتب">
                                            <span style="font-weight:600; font-size:13px">بريد موظفى المكتب</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsNewsPage"]" data-sub-menu="">
                                <a href="~/news/getNewsList" data-title="الأخبار"><span>الأخبار</span></a>
                            </li>
                            <li id="menu-header_3-1209" class="menu-item-type-post_type menu-item-object-page cz @ViewData["currentIsContactPage"]" data-sub-menu="">
                                <a href="~/home/contact" data-title="إتصل بنا"><span>إتصل بنا </span></a>
                            </li>
                        </ul>
                        <i class="fa czico-198-cancel cz_close_popup xtra-close-icon hide"></i>
                        <div class="xtra-mobile-menu-additional hide">
                            <div class="cz_social cz_social_colored_bg_hover cz_social_fx_2">
                                <a class="cz-twitter" href="https://twitter.com/culturaloffice_" title="حساب المكتب الثقافى على تويتر" aria-label="حساب المكتب الثقافى على تويتر" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-twitter"></i><span>حساب المكتب الثقافى على تويتر</span></a>
                                <a class="cz-twitter" href="~/home/covidPredictions" title="الإجراءات الإحترازية لفيروس كورونا" aria-label="الإجراءات الإحترازية لفيروس كورونا" rel="noopener noreferrer nofollow"><i class="icon czico-Icon-Alert-Notification-Active-Fill"></i></a>
                                <a class="cz-twitter" href="~/student/UpdateStudentInfo" title="تحديث البيانات" aria-label="تحديث البيانات" rel="noopener noreferrer nofollow"><i class="fa fa-edit"></i></a>
                            </div>
                            <div class="xtra-mobile-menu-text">
                                جميع الحقوق محفوظة © kwalexculture.org@2021
                            </div>
                        </div>
                    </div>
                    <div class="cz_elm icon_header_4_right_12 inner_icon_header_4_right_1" style="margin-top:22px;margin-right:6px;margin-bottom:10px;margin-left:6px;">
                        <a class="elm_icon_text" href="~/home/OfficeEmployeeEMailContact"><i class="fa fa-mail-bulk" style="font-size:24px;color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);padding:10px;border-style:none;border-radius:5px;"></i><span class="it_text"></span></a>
                        <a class="elm_icon_text" href="~/home/contact"><i class="fa fa-phone" style="font-size:24px;color:#ffffff;background-color:transparent;background-image:linear-gradient(90deg,#196730,#439a0d);padding:10px;border-style:none;border-radius:5px;"></i><span class="it_text"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

